* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Patrick Hand", cursive;
  scroll-behavior: smooth;
}
.Gallery {
  background-image: url(eamless-pattern-with-cute-corgi-dogs-paws-and-hearts-in-cartoon-doodle-style-illustration-background-vector.webp);
}
.Favorite {
  background-image: url(Food.png);
}
.about {
  background-image: url(360_F_216925967_AJPuVhiak9EhGzkzMwwGN8NHb6b15t36.jpeg);
}
.breed {
  background-image: url(Head\ Banner.png);
  height: 175px;
}
.new-style {
  background-image: url(istockphoto-831656442-612x612.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 50%;
  height: 360px;
}
.pic1 {
  width: 500px;
}
.pic2 {
  width: 275px;
  height: 375px;
}
.pic3 {
  width: 350px;
  height: 500px;
}
.pic4 {
  width: 200px;
}
.pic5 {
  width: 400px;
  height: 375px;
}
.pic6 {
  width: 225px;
  height: 375px;
}
.pic7 {
  width: 700px;
  height: 375px;
}
.pic8 {
  width: 50px;
}
.pic9 {
  width: 1000px;
}
.about h1 {
  color: rgb(136, 81, 32);
}
.about {
  color: (rgb(255, 0, 0), rgb(255, 255, 0));
}
.about p {
  color: rgb(56, 47, 35);
}
.logo {
  width: 100%;
  height: 700px;
}
.Gallery {
  color: rgb(204, 125, 22);
  background-color: #eddeb1;
  border: 2px dashed black;
}
.Favorite {
  color: rgb(56, 47, 35);
}
.Favorite p {
  color: rgb(56, 47, 35);
}
.breed {
  color: rgb(56, 47, 35);
}
.breed p {
  color: rgb(107, 47, 47);
}
nav ul {
  display: flex;
  width: 75%;
  justify-content: space-around;
  margin: auto;
  background-color: #efd177;
  border: 1px dashed black;
}
nav ul li a {
  text-decoration: none;
  color: rgb(0, 0, 0);
}
nav ul li {
  list-style: none;
  padding-top: 15px;
  padding-bottom: 20px;
}
body {
  background-color: #f0e7cb;
}
